@import "../../variables.scss";

.footer {
  font-size: .8em;
  color: #669999;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  a {
    color: #669999;
  }
  
  .icons a {
    font-size: 1.8rem;
    display: inline-block;
    padding: 10px;
  }
}