.controls {
  text-align: center;

  .copy-button {
    font-family: "Open Sans";
    font-size: 2em;  
    cursor: pointer;
    transition: color .25s;
  
    &:hover {
      color: #669999;      
    }
  
    &:active {
      color: #777777;      
    }
  }

  .character-types {
    margin-top: 80px;

    .link.dead .Icon path {
      fill: lightgrey;
    }

    .link:not(.dead) {
      cursor: pointer;
      .Icon path {
        fill: #669999;
      }
    }
  }
}