<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="iamnobilis">
  <meta name="apple-mobile-web-app-title" content="iamnobilis">
  <meta name="theme-color" content="#476b6b">
  <meta name="msapplication-navbutton-color" content="#476b6b">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="https://iamnobilis.herokuapp.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A random character generator for the I Am... Nobilis mini-RPG by Felix (and inspired by Jenna Moran's Nobilis RPG).">

  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="./images/icons/icon-512x512.png">

  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <% if (htmlWebpackPlugin.options.isProd) { %>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <% } else { %>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <% } %>
</head>

<body>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,100|Pacifico" rel="stylesheet" type="text/css" lazyload>
    <noscript>
    Oh.  It looks like you don't have Javascript turned on.  Sorry, but that ain't going to fly.
  </noscript>
  <div id="app"></div>
</body>

</html>