.character {
  font-family: "Open Sans";
  font-size: 2em;
  transition: color .25s;

  .modifier {
    font-family: Pacifico;
    text-decoration: underline;
  }

  &.loading {
    color: #669999;
  }
}